<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="static/img/python_94570.png" type="image/icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Множества, списки, словари и т.д</title>
</head>

<body>
    <div class="alert alert-primary" role="alert">
        <h2>Множества, списки, словари и т.д</h2>
    </div>
    <div class="alert alert-dark" role="alert">
        <p>Список (list) – это структура данных для хранения объектов различных типов. 
            Если вы использовали другие языки программирования, то вам должно быть знакомо понятие массива. 
            Так вот, список очень похож на массив, только, как было уже сказано выше, в нем можно хранить объекты 
            различных типов. Размер списка не статичен, его можно изменять. Список по своей природе является изменяемым 
            типом данных. Про типы данных можно подробно прочитать здесь. Переменная, определяемая как список, содержит 
            ссылку на структуру в памяти, которая в свою очередь хранит ссылки на какие-либо другие объекты или 
            структуры. Cоздать список можно одним из следующих способов: a = [], a = list(), также можно наполнить 
            их данными при обьявлении. Добавление элемента в список осуществляется с помощью метода append(): 
            a = [1] -> a.append('hello') -> [1, 'hello']. Если необходимо работать с элементами списка, то обратиться к ним 
            можно по индексу (нумерация начинается с 0): a = ['a', 'b', 'c'] -> print(a[1]) -> 'c'. Также, используя 
            индексацию, можно изменять элементы списка. Далее, перейдем  множествам. Множество в python - "контейнер", 
            содержащий не повторяющиеся элементы в случайном порядке. Создаём множества: a = set(). Множества удобно 
            использовать для удаления повторяющихся элементов: words = ['hello', 'daddy', 'hello', 'mum'] -> set(words) -> 
            {'hello', 'daddy', 'mum'}. Добавляются элементы в множества с помощью метода add: {'word1', 'word2'} -> 
            a.add('word3') -> {'word1', 'word2', 'word3'}. Перейдем к последней рассматриваемой коллекции - словарь. 
            Словари (dict) – это одна из наиболее часто используемых структур данных, позволяющая хранить объекты, для 
            доступа к которым используется ключ. В этом уроке будут рассмотрены операции создания, удаления, работы со 
            словарями и их методы. Словарь (dict) представляет собой структуру данных 
            (которая ещё называется ассоциативный массив), предназначенную для хранения произвольных объектов с доступом 
            по ключу. Данные в словаре хранятся в формате ключ – значение. Если вспомнить такую структуру как список, то 
            доступ к его элементам осуществляется по индексу, который представляет собой целое неотрицательное число, причем
            мы сами, непосредственно, не участвуем в его создании (индекса). В словаре аналогом индекса является ключ, при 
            этом ответственность за его формирование ложится на программиста. Пустой словарь можно создать, 
            используя функцию dict(), либо просто указав пустые фигурные скобки: a = dict(), a = {}. Если необходимо 
            создать словарь с заранее подготовленным набором данных, то можно использовать один из перечисленных выше 
            подходов, но с перечислением групп ключ-значение: a = {'a': 1, 'b': 2, 'c': 3}. Добавление и удаление элемента
            Чтобы добавить элемент в словарь нужно указать новый ключ и значение: a['d'] = 4. Итерация по элементам словаря 
            может проводиться по ключам и/или значениям: for key, value in a: print(key, value) (данная конструкция выведет 
            последовательно и построчно ключи словаря и соответсвующие им значения).</p>
    </div>
</body>

</html>