<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="static/img/python_94570.png" type="image/icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>API</title>
</head>

<body>
    <h1>Инструкция по использованию API:</h1>
    <br>
    <br>
    <h5>API обращается к главному окну сайта, следовательно, если вы хотите загрузить список с лекциями, то вам
        необходимо составить запрос следующего типа:
        <br>
        <br>
        1. http://127.0.0.1:5050/main (если вам необходим список со всеми
        лекциями);
        <br>
        2. http://127.0.0.1:5050/main/название урока (если вам необходима конкрентная лекция)</h5>
</body>

</html>