<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="static/img/python_94570.png" type="image/icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Базовые циклы в Python</title>
</head>

<body>
    <div class="alert alert-primary" role="alert">
        <h2>Базовые циклы в Python</h2>
    </div>
    <div class="alert alert-secondary" role="alert">
        <p>В python присутствует 2 вида цикла - while и for.
            <br>
            <br>
            Оператор цикла while выполняет указанный
            набор инструкций до тех пор, пока условие цикла истинно. Истинность условия определяется также как и в
            операторе if. Синтаксис оператора while выглядит так, while выражение: инструкция 1, инструкция 2...
            инструкция n. Выполняемый набор инструкций называется телом цикла. Оператор for выполняет указанный набор
            инструкций заданное количество раз, которое определяется количеством элементов в наборе.
            Пример: for i in range(5): print('А'). Данная конструкция выведет букву А 5 раз построчно. Также с помощью
            цикла for можно выполнить операции над элементами списка или пройтись по элементам строки.
        </p>
    </div>
</body>

</html>