<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="static/img/python_94570.png" type="image/icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Условные операторы в Python</title>
</head>

<body>
    <div class="alert alert-primary" role="alert">
        <h2>Условные операторы в Python</h2>
    </div>
    <div class="alert alert-dark" role="alert">
        <p>В этом уроке рассмотрим оператор ветвления if. Основная цель – это дать общее представление 
            об этом операторе и на простых примерах показать базовые принципы работы с ним. Оператор ветвления if  позволяет
            выполнить определенный набор инструкций в зависимости от некоторого условия. Возможны следующие варианты 
            использования: if выражение: инструкция 1, инструкция 2... инструкция n. После оператора if записывается 
            выражение. Если это выражение истинно, то выполняются инструкции, определяемые данным оператором. Выражение 
            является истинным, если его результатом является число не равное нулю, непустой объект, либо логическое True. 
            После выражения нужно поставить двоеточие “:”. ВАЖНО: блок кода, который необходимо выполнить, в случае 
            истинности выражения, отделяется четырьмя пробелами слева! Бывают случаи, когда необходимо предусмотреть 
            альтернативный вариант выполнения программы. Т.е. при истинном условии нужно выполнить один набор инструкций, 
            при ложном – другой. Для этого используется конструкция if – else или if - elif - else.</p>
    </div>
</body>

</html>