<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="static/img/python_94570.png" type="image/icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Типы данных в Python</title>
</head>

<body>
    <div class="alert alert-primary" role="alert">
        <h2>Типы данных в Python</h2>
    </div>
    <div class="alert alert-secondary" role="alert">
        <p>Если достаточно формально подходить к вопросу о типизации языка Python, 
            то можно сказать, что он относится к языкам с неявной сильной динамической типизацией.
            <br>
            Неявная типизация означает, что при объявлении переменной вам не нужно указывать её тип,
            при явной – это делать необходимо. В качестве примера языков с явной типизацией можно привести Java, 
            C++.
            <br>
            Вот как будет выглядеть объявление целочисленной переменной в Java и Python: 
            (Java) - int i = 0; (Python) - i = 0. Также в python присутствуют и другие типы данных, таких как 
            float(число с плавающей точкой), str(строка), int(целочисленный тип), boolean(логический тип), 
            None(неопределенный тип), bytes(байты). Рассмотрим как создаются объекты в памяти, их устройство, процесс 
            объявления новых переменных и работу операции присваивания. Для того, чтобы объявить и сразу инициализировать 
            переменную необходимо написать её имя, потом поставить знак равенства и значение, с которым эта переменная будет
            создана. Например строка: a = 5 объявляет переменную b и присваивает ей значение 5. Целочисленное значение 5 в 
            рамках языка Python по сути своей является объектом. Объект, в данном случае – это абстракция для представления
            данных, данные – это числа, списки, строки и т.п. При этом, под данными следует понимать как непосредственно 
            сами объекты, так и отношения между ними (об этом чуть позже). Каждый объект имеет три атрибута – это 
            идентификатор, значение и тип. Идентификатор – это уникальный признак объекта, позволяющий отличать объекты друг
            от друга, а значение – непосредственно информация, хранящаяся в памяти, которой управляет интерпретатор.</p>
    </div>
</body>

</html>