<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="static/img/python_94570.png" type="image/icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>1. Задача на типы данных. (Разбор)</title>
</head>

<body>
    <div class="alert alert-primary" role="alert">
        <h2>1. Задача на типы данных. (Разбор)</h2>
    </div>
    <div class="alert alert-secondary" role="alert">
        <p>
        first = 5
        <br>
        second = "13"
        <br>
        second = int(second)
        <br>
        print(first + second)
        </p>
    </div>
</body>

</html>