<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="static/img/python_94570.png" type="image/icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Скачивание и установка Python</title>
</head>

<body>
    <div class="alert alert-primary" role="alert">
        <h2>Скачивание и установка Python</h2>
    </div>
    <div class="alert alert-dark" role="alert">
        <p>Для начала работы с языком программирования Python,
            мы должны скачать установщик с официального сайта Python(python.org).
            <br>
            Далее просто следовать простейшим шагам установки, после которых можно приступать к практике.
            <br>
            <br>
            Затем стоит очень важный шаг, выбор <a href="#" class="alert-link">IDE</a> для написания программ,
            этот шаг очень ответственный и его можно сравнить с выбором автомобиля,
            и для каждого это строго индивидуально. Мы не будем навязывать вам что либо
            и лишь посоветуем присмотреться к таким вариантам, как - <a href="#" class="alert-link">PyCharm, VS code,
                Atom</a></p>
    </div>
    <img src="static/img/1503175868_pycharm.png" alt="error">
    <img src="static/img/vscode-logo.png" alt="error">
    <img src="static/img/atom-logo-19BD90FF87.png" alt="error">
</body>

</html>