<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="static/img/python_94570.png" type="image/icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>2. Задача на условные операторы.</title>
</head>

<body>
    <div class="alert alert-primary" role="alert">
        <h2>2. Задача на условные операторы.</h2>
    </div>
    <div class="alert alert-secondary" role="alert">
        <p>Пользователь вводит целое число с помощью функции input().
            <br>
            <br>
            Проверить, является ли это число четным. Если да, то вывести его на экран, если нет, вывести сообщение:
            "данное число является нечетным".
        </p>
    </div>
    <p><a href="second_ex_ans">Разбор</a></p>
</body>

</html>